{% extends './main/baseMain.html' %} {% block title %}¿Quiénes somos?{% endblock
%} {% block contents %}

<div class="fixed-alignment">  
  <div class="text-box">
    <div class="text-quienes-somos">
      <h1>¿Quiénes somos?</h1>
      <p>
        Somos una asociación estudiantil en pro del desarrollo 
        sostenible cuyo objetivo es fomentar el cuidado del medio ambiente 
        a través de la difusión de conocimiento, la concientización y el voluntariado
      </p>
    </div>
  </div>
  <div class=picture-box></div>
</div>

<h2 id="junta-titulo">Conoce a nuestro equipo</h2><br />

<div class="bloque_miembros">
  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>
</div>

<div class="bloque_miembros2">
  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>
</div>



<div class="general-container-MVV">

  <div class="mision-cover"></div>

  <div class="MVV-container">
    <div> 
      <i><img src="../../static/media/mision.png" alt=""></i>
      <h3>Misión</h3>
      <p class="MVV-text">
        Crear conciencia medioambiental a través de charlas con expertos, dando a conocer las buenas prácticas de las empresas con experiencia en el tema, compartiendo tips para una vida ecofriendly y facilitando la toma en contacto con la naturaleza a través del voluntariado.
      </p>
    </div>

    <div id="img-MVV">
      <!-- <i><img src="../../static/media/value.png" alt=""></i>
      <h3>Valores</h3>
      <p class="MVV-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor accusamus vel exercitationem quasi quibusdam, nulla impedit rerum nesciunt magnam omnis iste odio sit, recusandae fugiat ratione nemo, quia accusantium iure!
      </p> -->
    </div>

    <div>
      <i><img src="../../static/media/vision.png" alt=""></i>
      <h3>Visión</h3>
      <p class="MVV-text">
        Proveer a la sociedad salvadoreña y a la región de líderes conscientes que apliquen sus conocimientos sobre el medioambiente en todo lo que hacen con el fin de lograr un desarrollo sostenible y responsable.
      </p>
    </div>

  </div>
  
</div>


{% endblock %}
