{% extends './main/baseMain.html' %} {% block title %}¿Quiénes somos?{% endblock
%} {% block contents %}

<div class="grid-historia">
  <div style="margin-top: 50px">
    <img src="../../static/media/fotoInicio.jpg" alt="" />
  </div>
  <div style="margin-top: 50px">
    <h1>¿Quiénes somos?</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed minima,
      quia fugiat, eveniet voluptatem saepe quos minus ratione, expedita vel
      illum distinctio excepturi qui quae culpa mollitia debitis vero?
    </p>
  </div>
</div>

<h2>Junta directiva</h2>
<br />

<div class="bloque_referencias">
  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>
</div>

<div class="bloque_referencias2">
  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">José Elías Ventura</h3>
    <img src="../../static/media/team1.jpg" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
    <br />
    <p>Lorem ipsum dolor.</p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv
    </p>
  </div>
</div>

<div class="grid-historia">
  <div style="margin-top: 50px">
    <img src="../../static/media/fotoInicio.jpg" alt="" />
  </div>
  <div style="margin-top: 50px">
    <h1>Mision</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed minima,
      quia fugiat, eveniet voluptatem saepe quos minus ratione, expedita vel
      illum distinctio excepturi qui quae culpa mollitia debitis vero?
    </p>
  </div>
</div>
<div class="grid-historia" id="vision">
  <div style="margin-top: 50px">
    <h1>Vision</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed minima,
      quia fugiat, eveniet voluptatem saepe quos minus ratione, expedita vel
      illum distinctio excepturi qui quae culpa mollitia debitis vero?
    </p>
  </div>
  <div style="margin-top: 50px">
    <img src="../../static/media/fotoInicio.jpg" alt="" />
  </div>
</div>
<div class="grid-historia">
  <div style="margin-top: 50px">
    <img src="../../static/media/fotoInicio.jpg" alt="" />
  </div>
  <div style="margin-top: 50px">
    <h1>Valores</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed minima,
      quia fugiat, eveniet voluptatem saepe quos minus ratione, expedita vel
      illum distinctio excepturi qui quae culpa mollitia debitis vero?
    </p>
  </div>
</div>

{% endblock %}
