{% extends './main/baseMain.html' %} {% block title %}¿Quiénes somos?{% endblock
%} {% block contents %}

<div>  
  <div class="grid-historia">
    <div style="margin-top: 50px">
      <img src="../../static/media/fotoInicio.jpg" alt="" />
    </div>
    <div style="margin-top: 50px">
      <h1>¿Quiénes somos?</h1>
      <p>
        Somos una asociación estudiantil en pro del desarrollo 
        sostenible cuyo objetivo es fomentar el cuidado del medio ambiente 
        a través de la difusión de conocimiento, la concientización y el voluntariado
      </p>
    </div>
  </div>
</div>

<h2>Junta directiva</h2>
<br />

<div class="bloque_referencias">
  {% for person in JDList %}

  <div class="caja_ref">
    <h3 class="caja_ref_titulo">{{ person.nombre}} {{person.apellido}}</h3>
    <img src="{{person.link}}" class="imagen_ref" /><br />
    <p class="caja_ref_parrafo"> {{ person.cargo}} </p>
    <br />
    <p class="caja_ref_parrafo">
      <i class="fa-solid fa-envelope"></i> {{person.correo}}
    </p>
  </div>

  {% endfor %}


</div>

<div class="grid-historia">
  <div style="margin-top: 50px">
    <img src="../../static/media/fotoInicio.jpg" alt="" />
  </div>
  <div style="margin-top: 50px">
    <h1>Mision</h1>
    <p>
      Crear conciencia medioambiental a través de charlas con expertos, dando a conocerlas 
      buenas prácticas de las empresas con experiencia en el tema, compartiendo tips para 
      una vida ecofriendly y facilitando la toma en contacto con la naturaleza a través del voluntariado
    </p>
  </div>
</div>
<div class="grid-historia" id="vision">
  <div style="margin-top: 50px">
    <h1>Vision</h1>
    <p>
      Proveer a la sociedad salvadoreña y a la región de líderes conscientes 
      que apliquen sus conocimientos sobre el medioambiente en todo lo que hacen 
      con el fin de lograr un desarrollo sostenible y responsable
    </p>
  </div>
  <div style="margin-top: 50px">
    <img src="../../static/media/fotoInicio.jpg" alt="" />
  </div>
</div>
<div class="grid-historia">
  <div style="margin-top: 50px">
    <img src="../../static/media/fotoInicio.jpg" alt="" />
  </div>
  <div style="margin-top: 50px">
    <h1>Valores</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed minima,
      quia fugiat, eveniet voluptatem saepe quos minus ratione, expedita vel
      illum distinctio excepturi qui quae culpa mollitia debitis vero?
    </p>
  </div>
</div>

{% endblock %}
