{% extends './main/baseMain.html' %} {% block title %}Actividades{% endblock %}
{% block contents %}
<h1>Actividades</h1>
{% for activity in activitiesList %}
<div>
    <div class="grid-actividad">
        <div class="algo" style="margin-top: 50px">
            <h1>{{activity.nombreActividad}}</h1> 
            <img src="../../static/media/fotoInicio.jpg" alt="" />
            <p>Numero de cupos:</p>
            <p>{{activity.cuposTotales}} </p>
        </div>
        <div class="texto-actividad" style="margin-top: 100px">
            <div>
                <p style="margin-bottom: 15px;">
                {{activity.descripcion}}
                </p>
            </div>
            <div>
                <button class="btn-actividad">
                    Inscribirse
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
