{% extends './main/baseMain.html' %} {% block title %}Actividades{% endblock %}
{% block contents %}
<h1>Actividades</h1>

<div class="actividades-container">
    <div class="inicio">
        <div class="box1">
        <div class="actividad-text"> 
            <h1>Conoce más</h1> 
            <h1>acerca de nuestras actividades</h1>
        </div>
        </div>
    </div>
</div>

<div style="padding: 50px 0px 50px 0px;">
{% for activity in activitiesList %}
    <section>
        <div class="containerontop" id="about-us-container">
            <div class="left"></div>
            <div class="right">
                    <div>
                    <div class="content" id={{activity.idActividad}}>
                        <h1>{{activity.nombreActividad}}</h1>
                        <p>{{activity.descripcion}}</p>
                        <p>Numero de cuposs: {{activity.cuposTotales}} </p><br><br>
                        <div>
                            <button class="btn-actividad"> 
                                <a href="{{ url_for('main.inscripcion', nombreAct=activity.nombreActividad) }}">
                                    Inscribirse
                                </a>
                            </button>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>
{% endfor %}





{% endblock %}
