<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="navbar">
        <a class="active" href="{{ url_for('main.home') }}">Inicio</a>
        <a href="{{ url_for('main.about') }}">¿Quiénes somos?</a>
        <a href="{{ url_for('main.activities') }}">Actividades</a>
        <a href="{{ url_for('main.catalog') }}">Catálogo</a>
        <a href="{{ url_for('main.contact') }}">Contacto</a>
        <a href="{{ url_for('main.login') }}">Iniciar sesión</a>
        <a href="{{ url_for('main.register') }}">Registrarse</a>
    </div>
    {% block contents %}{% endblock %}
</body>

</html>