{% extends './main/baseMain.html' %} {% block title %}Catálogo{% endblock %} {%
block contents %}
<h1>Catálogo</h1>


<section>
    <div class="containerontop">
        <div class="top"></div>
        <div class="bottom">
            <div class="content">
                <h1>This is a heading</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores fugit temporibus atque praesentium, dolore soluta vitae assumenda similique eligendi nemo veniam, dolorum sapiente molestias necessitatibus! Odit sequi id aliquid. Asperiores?</p>
            </div>
        </div>
    </div>
</section>




{% endblock %}
