{% extends './main/baseMain.html' %} {% block title %}Contacto{% endblock %}
{%block contents %}
<h1>Contacto</h1>


<div class="contact-container">
  <div class="inicio">
    <div class="box1">
      <div class="contact-text">
        
        <h1>Contáctanos</h1>
        
        <div class="redes-sociales">
          <div class="redes-iconos">
            <i class="fa-solid fa-envelope"></i>
            <a class="" href="mailto: raicesesen@gmail.com"> raicesesen@gmail.com</a>
          </div>
          <div class="redes-iconos">
            <i class="fa-brands fa-instagram"></i>
            <a class="icon" href="https://www.instagram.com/raices.esen/?hl=es-la">@raices.esen</a>
          </div>
          <div class="redes-iconos">
            <i class="fa-brands fa-facebook-f"></i>
            <a class="icon" href="">Facebook</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<div class="container" id="center-items">

  <!-- 
      <form action="https://formsubmit.co/valeria.benitezs@outlook.com" method="POST">
  -->
  <form action="/action_page.php">

  <div class="form-container">
  
    <div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Nombre</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Ingresa tu nombre..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Apellido</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Ingresa tu apellido..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Teléfono</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Ingresa tu número telefónico..">
      </div>
    </div>
    </div>

    <div>
      <div class="row">
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Déjanos un mensaje.." style="height:325px"></textarea>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="row">
    <input type="submit" value="Enviar">
  </div>  

  </form>

</div>








{% endblock %}
