{% extends './main/baseMain.html' %} {% block title %}Contacto{% endblock %}
{%block contents %}
<h1>Contacto</h1>


<div class="contact-container">
  <div class="inicio">
    <div class="box1">
      <div class="contact-text">
        
        <h1>Contáctanos</h1>
        
        <div class="redes-sociales">
          <div class="redes-iconos">
            <i class="fa-solid fa-envelope"></i>
            <a class="" href="mailto: raicesesen@gmail.com"> raicesesen@gmail.com</a>
          </div>
          <div class="redes-iconos">
            <i class="fa-brands fa-instagram"></i>
            <a class="icon" href="https://www.instagram.com/raices.esen/?hl=es-la">@raices.esen</a>
          </div>
          <div class="redes-iconos">
            <i class="fa-brands fa-facebook-f"></i>
            <a class="icon" href="">Facebook</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
    

<div class="contact-form">

  <div class="contact">
    <div class="contact-info">
      <form class="form-alignment" action="/action_page.php">

        <div class="contact-left">
          <label for="uname"><b>Nombres</b></label>
          <input 
            type="text" 
            placeholder="Ingresa tu nombre" 
            name="name" 
            required 
            />
    
          <label for="uname"><b>Apellidos</b></label>
          <input
            type="text"
            placeholder="Ingresa tu apellido"
            name="lastname"
            required
          />
    
          <label for="uname"><b>Teléfono</b></label>
          <input
            type="text"
            placeholder="Ingresa tu telefono"
            name="number"
            required
          />
        </div>

        <div class="contact-right">
          <label for="subject">Subject</label>
          <textarea
            id="subject"
            name="subject"
            placeholder="Write something.."
            style="height: 200px"
          ></textarea>
        </div>
      
      </form>

      <input type="submit" value="Submit" />

    </div>
  
</div>

{% endblock %}
