{% extends './main/baseMain.html' %} {% block title %}Inicio{% endblock %}
{%block contents %}
<h1>Raíces ESEN</h1>

<div class="background-cover">
  <div class="inicio">
    <div class="box1">
      <div class="center">
        <h1>RAICES</h1>
        <h3 class="ESEN">ESEN</h3>
      </div>
    </div>
    <ul id="scroll">
      <li><a class="btn-volunteer" href="{{ url_for('main.register') }}">¡Quiero ser voluntario!</a></li>
    </ul>
  </div>
</div>

<div class="back-color1">
  <h2>¡Anímate a ser parte de nuestra familia!</h2>

  <div class="containerSlideshow">
    {% for i in fotos_data %}
    <div class="mySlides">
      <div class="numbertext">{{i}} / 6</div>
      <img src="{{fotos_data[i].url}}" style="object-fit: cover" />
    </div>

    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="row">
      {% for i in fotos_data %}

      <div class="column">
        <img
          class="demo cursor"
          src="{{fotos_data[i].url}}"
          style="width: 100%; object-fit: cover"
          onclick="currentSlide({{ i }})"
          alt="{{fotos_data[i].desc}}"
        />
      </div>

      {% endfor %}
    </div>
  </div>
</div>

<div class="intro-impacto">
  <h2>Protejamos nuestro planeta</h2>
  <div class="intro-text">
    <p>
      En Raíces ESEN estamos comprometidos en ser parte de un cambio positivo en el medio ambiente. 
      Con nuestros diferentes voluntariados hemos logrado:
    </p>
  </div>
</div>
  
<div class="grid-container" id="grid-impacto">
  <div> 
    <i><img src="../../static/media/tree.png" alt=""></i>
    <h3>100</h3>
    <p class="dato-impacto">
      Árboles sembrados
    </p>
  </div>
  <div>
    <i><img src="../../static/media/recycle.png" alt=""></i>
    <h3>500 kg</h3>
    <p class="dato-impacto">
      Reciclados
    </p>
  </div>
  <div>
    <i><img src="../../static/media/helping-hand.png" alt=""></i>
    <h3>+200</h3>
    <p class="dato-impacto">
      Voluntarios
    </p>
  </div>
  <div>
    <i><img src="../../static/media/turtle.png" alt=""></i>
    <h3>80</h3>
    <p class="dato-impacto">
      Charlas y foros
    </p>
  </div>
  <br /><br />
</div>

<div class="back-color2">

  <h2>Próximas actividades</h2>

  <div class="grid-container">
    {% for i in actividadesActivas %}
    <div>
      <div class="container">
        {% if i.tipoActividad == 1 %}
          <img
            src="https://res.cloudinary.com/diwjly6a7/image/upload/v1646942199/cld-sample.jpg"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
        {% elif i.tipoActividad == 2 %}
          <img
            src="https://res.cloudinary.com/diwjly6a7/image/upload/v1646942153/sample.jpg"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
        {% elif i.tipoActividad == 3 %}
          <img
            src="https://res.cloudinary.com/diwjly6a7/image/upload/v1647837676/isla-de-pascua_q2y1eu.jpg"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
        {% else %}
          <img
            src="https://res.cloudinary.com/diwjly6a7/image/upload/v1647837684/saltos-de-petrohue_adpjzi.jpg"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
        {% endif %}
        <div class="middle">
          <div class="text">
            <a href="/activities#{{i.idActividad}}">{{i.nombreActividad}}</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>



<!-- Ejecucion del javascript del carrousel de imagenes-->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
{% endblock %}
