{% extends './main/baseMain.html' %} {% block title %}Inicio{% endblock %}
{%block contents %}
<h1>Raíces ESEN</h1>

<div class="background-cover">
  <div class="inicio">
    <div class="center">
      <h1>RAICES</h1>
    </div>
    <ul id="scroll">
      <li><a class="btn-volunteer" href="{{ url_for('main.register') }}">Quiero ser voluntario</a></li>
    </ul>
  </div>
</div>

<div class="back-color1">
  <h2>¡Anímate a ser parte de nuestra familia!</h2>

  <div class="containerSlideshow">
    {% for i in data %}
    <div class="mySlides">
      <div class="numbertext">{{i}} / 6</div>
      <img src="{{data[i].url}}" style="object-fit: cover" />
    </div>

    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="row">
      {% for i in data %}

      <div class="column">
        <img
          class="demo cursor"
          src="{{data[i].url}}"
          style="width: 100%; object-fit: cover"
          onclick="currentSlide({{i}})"
          alt="{{data[i].desc}}"
        />
      </div>

      {% endfor %}
    </div>
  </div>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
</div>

<div class="back-color2">

  <h2>Próximas actividades</h2>

  <div class="grid-container">
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">Ver actividad</div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">Ver actividad</div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <img
          src="../../static/media/slide1.jpg"
          alt="Avatar"
          class="image"
          style="width: 100%"
        />
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div>
    </div>
  </div>

  <h2>Impacto</h2>

  <div class="intro-impacto">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aut possimus
      a facilis quaerat itaque nemo alias? Eligendi aspernatur illo ratione
      dolores molestiae. Quod assumenda consequuntur a quos perspiciatis eaque!
    </p>
  </div>
  <div class="grid-container" id="grid-impacto">
    <div>
      <i class="fa-solid fa-leaf"></i>
      <p class="dato-impacto">
        Lorem ipsum dolor sit amet atque repudiandae facilis
      </p>
    </div>
    <div>
      <i class="fa-solid fa-leaf"></i>
      <p class="dato-impacto">
        Lorem ipsum dolor sit amet atque repudiandae facilis
      </p>
    </div>
    <div>
      <i class="fa-solid fa-leaf"></i>
      <p class="dato-impacto">
        Lorem ipsum dolor sit amet atque repudiandae facilis
      </p>
    </div>
    <div>
      <i class="fa-solid fa-leaf"></i>
      <p class="dato-impacto">
        Lorem ipsum dolor sit amet atque repudiandae facilis
      </p>
    </div>
    <br /><br />
  </div>
</div>

{% endblock %}
