{% extends './main/baseMain.html' %} {% block title %}Iniciar Sesión{% endblock %}
{%block contents %}
<h1>Iniciar sesión</h1>


<div class="frame">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="imgcontainer">
      <img src="../../static/media/avatar.png" alt="Avatar" class="avatar" />
    </div>

    <div id="contenedor">
      <div id="contenedorcentrado">
        <div id="login">
          <b>{{ form.correo.label }}</b>
          <br>
          {{ form.correo }}
          <br>
          <b>{{ form.contrasenna.label }}</b>
          <br>
          {{ form.contrasenna }}
          <br>
          {{ form.submit }}
          <br>
          <label>
            <input type="checkbox" checked="checked" name="remember" />Recuérdame
          </label>
        </div>
      </div> 
    </div>
    <div class="container">
      <button type="button" class="cancelbtn">Cancelar</button>
      <span class="psw">¿Olvidaste tu <a href="#">contraseña?</a></span>
      <br>
      <span class="psw"
        >¿No tienes una cuenta?
        <a href="{{ url_for('main.register') }}">¡Regístrate!</a></span
      >
    </div>
  </form>
</div>


{% endblock %}
