{% extends './main/baseMain.html' %} 

{% block title %}Perfil{% endblock %} 

{% block contents %}

<div class="grid-perfil">
    <div style="margin: 50px 0px 0px 80px">
        <img src="../../static/media/avatar.png"  class="foto-perfil" alt="" />
    </div>
    <div class="perfil-datos">
        <p class="dato"><b>Nombre:</b>  Marcela Jazmín</p>
        <p class="dato"><b>Apellido:</b>  Gallardo Velásquez</p>
        <p class="dato"><b>Correo electronico:</b>  correo@gmail.com</p>
        <p class="dato"><b>Telefono:</b>  44444444</p>
        <p class="dato"><b>Año universitario:</b>  Tercer año</p>
        <p class="dato"><b>Carrera:</b>  Ingenieria de Negocios</p> 
    </div>
</div>

<div class="actividades-user"> 
    <h1 style="text-align: center; margin: 40px; font-size: 47px">Tus actividades</h1>
    <table class="tabla-user">
        <tr>
            <th>Descripción de la actividad</th>
            <th>Tipo de horas</th>
            <th>Cantidad de horas</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Pago</th>
        </tr>
        <tr class="linea">
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
        <tr class="linea">
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
        </tr>
        <tr class="linea">
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
        </tr>
        <tr class="linea">
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
        </tr>
    </table>
</div>

<div class="logout_button">
    <a href="#"><div class="logout">Volver a página principal</div></a>  
</div>

{% endblock %} 