{% extends './main/baseMain.html' %} {% block title %}Regístrate{% endblock %}
{% block contents %}
<h1>Regístrate</h1>

<div class="frame">
  <form action="{{ url_for('main.register') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="imgcontainer">
      <img src="../../static/media/avatar.png" alt="Avatar" class="avatar" />
    </div>

    <div class="container">
      <b>{{ form.correo.label }}</b>
      {{ form.correo }}

      <b>{{ form.nombre.label }}</b>
      {{ form.nombre }}

      <b>{{ form.apellido.label }}</b>
      {{ form.apellido }}

      <b>{{ form.telefono.label }}</b>
      {{ form.telefono }}

      <b>{{ form.carrera.label }}</b>
      {{ form.carrera }}

      <b>{{ form.contrasenna.label }}</b>
      {{ form.contrasenna }}

      <b>{{ form.contrasenna_2.label }}</b>
      {{ form.contrasenna_2 }}

      {{ form.submit }}

      <label>
        <input type="checkbox" checked="checked" name="remember" /> Recuérdame
      </label>
    </div>

    <div class="container">
      <button type="button" class="cancelbtn">Cancelar</button>
      <span class="psw">¿Olvidaste tu <a href="#">Contraseña?</a></span>
      <br />
      <span class="psw"
        >Ya tienes una cuenta?
        <a href="{{ url_for('main.login') }}">¡Inicia sesión!</a></span
      >
    </div>
  </form>
</div>

{% endblock %}
