<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styleMain.css" />
    <script
      src="https://kit.fontawesome.com/bfe61dead8.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li><a class="active" href="{{ url_for('main.home') }}">Inicio</a></li>
        <li><a href="{{ url_for('main.about') }}">¿Quiénes somos?</a></li>
        <li><a href="{{ url_for('main.activities') }}">Actividades</a></li>
        <li><a href="{{ url_for('main.catalog') }}">Catálogo</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contacto</a></li>
        <li class="login"><a href="{{ url_for('main.login') }}">Iniciar sesión</a></li>
      </ul>
    </div>

    {% block contents %}{% endblock %}
  </body>
</html>
