{% extends './admin/baseAdmin.html' %} {% block title %}Dashboard{% endblock %}
{%block contents %}
<br> <br> 
    <div class="verticalBar">
            <ul>
        <li><a href="#Miembros">Miembros</a></li>
        <li><a href="#Inscripciones">Inscripciones</a></li>
        <li><a href="#Actividades">Actividades</a></li>
        <li><a href="#Voluntarios">Voluntarios</a></li>
        <li><a href="#Mensajes">Mensajes</a></li>
        <li><a href="#Notificaciones">Notificaciones</a></li>
        </ul>
    </div>

    <div class="bodyDash">
        <h2>Fixed Full-height Side Nav</h2>

      </div>

    {% endblock %}