<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends './admin/baseAdmin.html' %} {% block title %}Dashboard{% endblock %} {%
        block contents %}
       <br>
       <br>
    
    <!-- Sidebar/menu -->
    <nav style="width:300px;" id="mySidebar"><br>
     
      <div class="w3-bar-block">
        <a href="#" >Miembros</a>
        <a href="#" >Inscripciones</a>
        <a href="#" >Actividades</a>
        <a href="#" >Voluntarios</a>
        <a href="#" >Mensajes</a>
        <a href="#" >Notificaciones</a>
      </div>
    </nav>
    
        {% endblock %}
</body>
</html>